body {
        background-color: white;

        .title1 {
                font-weight: bold;
                color: rgb(255, 0, 128);
                background: linear-gradient(transparent 50%, rgb(255, 251, 0) 30%);
                margin-bottom: 20px;
                font-size: 10vw;
                display: inline-block;


                @media (min-width: 500px) {

                        font-size: 50px;
                }
        }


        background-image: linear-gradient(-45deg, white 25%, rgba(120, 180, 255, 0.15) 25%, rgba(120, 180, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(120, 180, 255, 0.15));
        background-size: 30px 30px;

}

#top {


        .one {
                position: relative;
                text-align: center;
                background-color: whitesmoke;
                display: block;

                p {
                        width: 85%;
                        font-size: 7vw;
                        font-family: "Sawarabi Mincho";
                        color: #3840B1;
                        text-align: left;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        -webkit-transform: translateY(-50%) translateX(-50%);
                }
        }
}

#main {
        padding: 20px;

        .gallery-image {
                margin: auto 0;
        }

        .box1 {
                background-color: white;
                border-radius: 5vw;
                margin: 20px;
                padding: 20px;
        }
}

footer {
        background-color: white;
        margin: 0px;

        p {
                font-size: 14px;
                margin: 3px;
                font-weight: lighter;
                text-align: center;
                color: black;
                border: solid 4px rgba(255, 255, 255, 0);
        }

        img {
                padding-top: 40px;
                padding-bottom: 20px;
                width: 200px;

                @media screen and (min-width:320px) and (max-width:768px) {
                        width: 25vw;
                }
        }


        .sns-share {
                text-align: center;

                display: flex;
                justify-content: center;

                .item {
                        margin: 1px;
                }

                .facebook {
                        background-color: #2e4a88;
                        box-shadow: 0 4px 0 #1B3D82;
                        text-shadow: 0 -1px -1px #1B3D82;

                        display: inline;
                        position: relative;
                        font-family: Arial;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        border-radius: 5px;
                        padding: 14px 20px;
                }

                .facebook:hover {
                        background-color: #354F84;
                }

                .facebook:active {
                        top: 2px;
                        box-shadow: 0 2px 0 #1B3D82;
                }

                .twitter {
                        background-color: #008DDE;
                        box-shadow: 0 4px 0 #0078BD;

                        display: inline;
                        position: relative;
                        font-family: Arial;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        border-radius: 5px;
                        padding: 14px 20px;
                }

                .twitter:active {
                        top: 2px;
                        box-shadow: 0 2px 0 #0078BD;
                }

                .twitter:hover {
                        background-color: #1397D8;
                }

                .instagram {
                        background-color: rgb(224, 19, 146);
                        box-shadow: 0 4px 0 rgb(155, 14, 101);


                        display: inline;
                        position: relative;
                        font-family: Arial;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        border-radius: 5px;
                        padding: 14px 20px;
                }

                .instagram:active {
                        top: 2px;
                        box-shadow: 0 2px 0 rgb(255, 65, 239);
                }

                .instagram:hover {
                        background-color: rgb(221, 57, 180);
                        ;
                }
        }


}