@charset "UTF-8";
body {
  background-color: white;
  background-image: linear-gradient(-45deg, white 25%, rgba(75, 156, 255, 0.15) 25%, rgba(75, 156, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(61, 148, 253, 0.15));
  background-size: 30px 30px;
}

body h1 {
  letter-spacing: 0px;
  text-align: center;
  color: #0043d4;
  font-size: 4.5vw;
}

body h2 {
  margin: 0px 4vw;
  color: #286da7;
}

body h3 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 20px;
  color: #286da7;
  position: relative;
  display: inline;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h3 {
    font-size: 2.2vw;
  }
}

@media screen and (min-width: 1024px) {
  body h3 {
    font-size: 2vw;
  }
}

body h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
}

body h4 {
  text-align: center;
  font-size: 26px;
  color: #2ab4ff;
  margin: 0px 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h4 {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  body h4 {
    /*　画面サイズが1024pxからはここを読み込む　*/
    font-size: 32px;
  }
}

body p {
  margin: 10px 4vw;
  padding: 10px 0px;
  line-height: 1.8;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  body p {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 18px;
  }
}

body .image {
  text-align: center;
}

body .image01 img {
  width: 100%;
}

body .image01 .pc {
  display: block !important;
}

body .image01 .sp {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  body .image01 .pc {
    display: none !important;
  }
  body .image01 .sp {
    display: block !important;
  }
}

body .image02 {
  text-align: center;
  margin: 0px;
}

body .image02 img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body .image02 img {
    width: 70%;
  }
}

body .newLine-sp {
  display: none !important;
}

body .newLine-pc {
  display: block !important;
}

body .highlight-Bold1 {
  font-weight: bold;
  color: #db55ac;
}

body .highlight-Bold2 {
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  body .newLine-sp {
    display: block !important;
  }
  body .newLine-pc {
    display: none !important;
  }
}

body .youtube-box {
  width: 95%;
  margin: 20px auto;
}

@media only screen and (min-width: 500px) {
  body .youtube-box {
    width: 70%;
  }
}

body .youtube-box .youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

body .youtube-box .youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

body .card-title {
  font-weight: bold;
  color: cornflowerblue;
}

body .box1 {
  background-color: white;
  border-radius: 5vw;
  margin: 20px;
  padding: 20px;
}

body .box1 .category-icon {
  width: 200px;
  margin: 10px auto;
  margin-top: 20px;
}

@media (min-width: 500px) {
  body .box1 .category-icon {
    width: 40vw;
  }
}

@media (min-width: 666px) {
  body .box1 .category-icon {
    width: 300px;
  }
}

#top .one {
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  display: block;
}

#top .one p {
  width: 85%;
  font-size: 7vw;
  font-family: "Sawarabi Mincho";
  color: #3840B1;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#main .gallery-image {
  margin: auto 0;
}

#main .box1 {
  padding: 0px;
  margin: 10px;
  text-decoration: none;
}

#main .box1 a:hover {
  text-decoration: none;
}

#main .box1 .card-body {
  padding: 10px;
}

#main .box1 .container-fluid {
  padding: 0px;
}

@media (min-width: 500px) {
  #main .box1 {
    margin: 20px;
    padding: 20px;
  }
}

#links h3,
#links h4 {
  margin: 20px 0;
}

footer {
  background-color: white;
  margin: 0px;
}

footer p {
  font-size: 14px;
  margin: 3px;
  text-align: center;
  color: black;
  border: solid 4px rgba(255, 255, 255, 0);
}

footer img {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer img {
    width: 25vw;
  }
}

footer .sns-share {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .sns-share .item {
  margin: 1px;
}

footer .sns-share .facebook {
  background-color: #2e4a88;
  -webkit-box-shadow: 0 4px 0 #1B3D82;
          box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .facebook:hover {
  background-color: #354F84;
}

footer .sns-share .facebook:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #1B3D82;
          box-shadow: 0 2px 0 #1B3D82;
}

footer .sns-share .twitter {
  background-color: #008DDE;
  -webkit-box-shadow: 0 4px 0 #0078BD;
          box-shadow: 0 4px 0 #0078BD;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .twitter:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #0078BD;
          box-shadow: 0 2px 0 #0078BD;
}

footer .sns-share .twitter:hover {
  background-color: #1397D8;
}

footer .sns-share .instagram {
  background-color: #e01392;
  -webkit-box-shadow: 0 4px 0 #9b0e65;
          box-shadow: 0 4px 0 #9b0e65;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .instagram:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #ff41ef;
          box-shadow: 0 2px 0 #ff41ef;
}

footer .sns-share .instagram:hover {
  background-color: #dd39b4;
}
/*# sourceMappingURL=style2.css.map */