body {
  background-color: white;
  background-image: linear-gradient(-45deg, white 25%, rgba(120, 180, 255, 0.15) 25%, rgba(120, 180, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(120, 180, 255, 0.15));
  background-size: 30px 30px;
}

body .title1 {
  font-weight: bold;
  color: #ff0080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(30%, #fffb00));
  background: linear-gradient(transparent 50%, #fffb00 30%);
  margin-bottom: 20px;
  font-size: 10vw;
  display: inline-block;
}

@media (min-width: 500px) {
  body .title1 {
    font-size: 50px;
  }
}

body .card-title {
  font-weight: bold;
  color: cornflowerblue;
}

body .box1 {
  background-color: white;
  border-radius: 5vw;
  margin: 20px;
  padding: 20px;
}

body .box1 .category-icon {
  width: 200px;
  margin: 10px auto;
}

@media (min-width: 500px) {
  body .box1 .category-icon {
    width: 40vw;
  }
}

@media (min-width: 666px) {
  body .box1 .category-icon {
    width: 300px;
  }
}

#top .one {
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  display: block;
}

#top .one p {
  width: 85%;
  font-size: 7vw;
  font-family: "Sawarabi Mincho";
  color: #3840B1;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#main {
  padding: 20px;
}

#main .gallery-image {
  margin: auto 0;
}

#links h3,
#links h4 {
  margin: 20px 0;
}

footer {
  background-color: white;
  margin: 0px;
}

footer p {
  font-size: 14px;
  margin: 3px;
  text-align: center;
  color: black;
  border: solid 4px rgba(255, 255, 255, 0);
}

footer img {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer img {
    width: 25vw;
  }
}

footer .sns-share {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .sns-share .item {
  margin: 1px;
}

footer .sns-share .facebook {
  background-color: #2e4a88;
  -webkit-box-shadow: 0 4px 0 #1B3D82;
          box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .facebook:hover {
  background-color: #354F84;
}

footer .sns-share .facebook:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #1B3D82;
          box-shadow: 0 2px 0 #1B3D82;
}

footer .sns-share .twitter {
  background-color: #008DDE;
  -webkit-box-shadow: 0 4px 0 #0078BD;
          box-shadow: 0 4px 0 #0078BD;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .twitter:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #0078BD;
          box-shadow: 0 2px 0 #0078BD;
}

footer .sns-share .twitter:hover {
  background-color: #1397D8;
}

footer .sns-share .instagram {
  background-color: #e01392;
  -webkit-box-shadow: 0 4px 0 #9b0e65;
          box-shadow: 0 4px 0 #9b0e65;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .instagram:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #ff41ef;
          box-shadow: 0 2px 0 #ff41ef;
}

footer .sns-share .instagram:hover {
  background-color: #dd39b4;
}
/*# sourceMappingURL=style2.css.map */