@charset "UTF-8";
body {
  background-color: whitesmoke;
  font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", sans-serif;
  padding: 0vw;
  margin: 0vw;
}

body p,
body a,
body li,
body div,
body span {
  padding: 0vw;
  margin: 0vw;
}

#top .topnav {
  background-color: white;
}

#top .topnav ul {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 20px;
}

#top .topnav ul li {
  float: left;
  height: 60px;
}

#top .topnav ul li .logo {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-right: 20px;
  position: relative;
}

#top .topnav ul li .logo img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#top .topnav ul li .one {
  display: inline-block;
  background-color: #FFAE00;
  height: 60px;
  width: 150px;
  border-radius: 30px 0px 0px 30px;
  position: relative;
}

#top .topnav ul li .one p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: absolute;
  padding-left: 20px;
  top: 50%;
  left: 45%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#top .topnav ul li .two {
  display: inline-block;
  background-color: #FF4390;
  height: 60px;
  width: 140px;
  position: relative;
}

#top .topnav ul li .two p {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#top .topnav ul li .three {
  display: inline-block;
  background-color: #FF4390;
  height: 60px;
  width: 150px;
  border-radius: 0px 30px 30px 0px;
  position: relative;
}

#top .topnav ul li .three p {
  width: 150px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#top2 .one {
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  display: block;
}

#top2 .one p {
  width: 85%;
  font-size: 7vw;
  font-family: "Sawarabi Mincho";
  color: #3840B1;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#info .applications .one {
  background-color: #FF61AA;
  padding: 5vw;
}

#info .applications .one .two {
  background-color: white;
  border-radius: 4vw;
}

#info .applications .one .two h1 {
  padding: 10px;
  font-size: 100px;
  margin: 0;
  text-align: center;
  color: #505CFF;
}

#info .applications .one .two h1 span {
  font-size: 40px;
}

#info .applications .one .two p {
  font-size: 30vw;
  font-family: "Hiragino Mincho Pro";
  font-weight: bold;
  color: #FF61AA;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.0;
}

#info .applications .one .two p span {
  font-size: 50%;
}

#info .applications .category {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */